@model TaskManager.Models.Task
<h2>Edit Task</h2>

<h3>@ViewBag.Message</h3>

<form method="post" action="/Tasks/Edit/@Model.id_tsk">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @if (ViewBag.IsUser == false)
    {
        @Html.HiddenFor(m => m.id_tsk)
        @Html.HiddenFor(m => m.id_pr)
        @Html.Label("Title", "Titlu task")
        <br />
        @Html.TextBox("Title", Model.Title, new { @class = "form-controller" })
        @Html.ValidationMessageFor(m => m.Title, "Title este obligatoriu", new { @class = "text-danger " })

        <br /><br />
        @Html.Label("Description", "Descriere Task")
        <br />
        @Html.TextBox("Description", Model.Description, new { @class = "form-controller" })
        @Html.ValidationMessageFor(m => m.Description, "Descriere este obligatoriu", new { @class = "text-danger " })
        <br /><br />
        @Html.Label("Data_St", "Data de start")
        <br />
        @Html.TextBox("Date_St", Model.Date_St, new { @type = "date", @class = "form-controller" })
        <br /><br />
        @Html.Label("Date_End", "Data de final")
        <br />
        @Html.TextBox("Date_End", Model.Date_End, new { @type = "date", @class = "form-controller" })
        <br /><br />
    }
    <label> Selectati Statusul </label>
    <select name="Status">
        @foreach (var status in ViewBag.Status)
        {
            <option value="@status">@status</option>
        }
    </select>
    <br /><br />
    <button class="btn btn-success" type="submit">Editeaza task</button>
</form>