@model TaskManager.Models.Task
<h2>Edit Task</h2>

<h3>@ViewBag.Message</h3>

<form method="post" action="/Tasks/Edit/@Model.id_tsk">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @if (ViewBag.IsUser == false || User.IsInRole("Admin"))
    {
        @Html.HiddenFor(m => m.id_tsk)
        @Html.HiddenFor(m => m.id_pr)
        @Html.Label("Title", "Titlu task")
        <br />
        @Html.TextBox("Title", Model.Title, new { @class = "form-controller" })
        @Html.ValidationMessageFor(m => m.Title, "Title este obligatoriu", new { @class = "text-danger " })

        <br /><br />
        @Html.Label("Description", "Descriere Task")
        <br />
        @Html.TextBox("Description", Model.Description, new { @class = "form-controller" })
        @Html.ValidationMessageFor(m => m.Description, "Descriere este obligatoriu", new { @class = "text-danger " })
        <br /><br />
        @Html.Label("Data_St", "Data de start")
        <br />
        @Html.EditorFor(model => model.Date_St, new { htmlAttributes = new { @Value = @Model.Date_St.ToString("yyyy-MM-dd"), @class = "customclass" } })
        <br /><br />
        @Html.Label("Date_End", "Data de final")
        <br />
        @Html.EditorFor(model => model.Date_End, new { htmlAttributes = new { @Value = @Model.Date_End.ToString("yyyy-MM-dd"), @class = "customclass" } })
        <br /><br />
    }
    <label> Selectati Statusul </label>
    <select name="Status">
        @foreach (var status in ViewBag.Status)
        {
            <option value="@status">@status</option>
        }
    </select>
    <br /><br />
    <button class="btn btn-success" type="submit">Editeaza task</button>
</form>