@model TaskManager.Models.Task

<h2>Adaugare nou task</h2>

<form method="post" action="/Tasks/New">
    @Html.Label("Title", "Titlu task")
    <br />
    @Html.HiddenFor(m => m.id_tsk)
    @Html.TextBox("Title", null, new { @class = "form-controller" })
    @Html.ValidationMessageFor(m => m.Title, "Title este obligatoriu", new { @class = "text-danger " })
    <br /><br />
    @Html.Label("Description", "Descriere Task")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-controller" })
    @Html.ValidationMessageFor(m => m.Description, "Descriere este obligatoriu", new { @class = "text-danger " })
    <br /><br />
    @Html.Label("Data_St", "Data de start")
    <br />
    @Html.TextBox("Date_St", null, new { @type = "date", @class = "form-controller" })
    <br /><br />
    @Html.Label("Date_End", "Data de final")
    <br />
    @Html.TextBox("Date_End", null, new { @type = "date", @class = "form-controller" })
    <br /><br />
    @Html.Label("Status", "Statusul Taskului")
    <br />
    @Html.TextBox("Status", null, new { @class = "form-controller" })
    @Html.ValidationMessageFor(m => m.Status, "Status este obligatoriu", new { @class = "text-danger " })

    <label> Selectati Proiectul </label>
    <select name="id_pr">
        @foreach (var project in ViewBag.Projects)
        {
            <option value="@project.id_pr">@project.Title</option>
        }
    </select>

    <br />
    <button class="btn btn-success" type="submit">Adauga Task</button>

</form>

