<br />
@if (ViewBag.message != null)
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style=" opacity: 100%">
        <div class="toast-header">
            <strong class="mr-auto">Task Manager</strong>
            <small>1 sec ago</small>

        </div>
        <div class="toast-body">
            @ViewBag.message
        </div>
    </div>
}

<div class="panel panel-default">
    <h1>@ViewBag.Task.Title</h1>
    <div class="panel-body">
        <strong>Descriere task: </strong>@ViewBag.Task.Description
        <br />
        <span><strong>Perioada: </strong>@ViewBag.Task.Date_St - @ViewBag.Task.Date_End </span>
        <br />
        <span><strong>Status: </strong>@ViewBag.Task.Status </span>
        <br />
        <span><strong>Responsabil: </strong>@ViewBag.User</span>
        <br />
        <hr>
        <div class="d-flex justify-content-around" >
            <a class="button6" style="background-color:#24ebae"
               href="/Tasks/Edit/@ViewBag.Task.id_tsk">Modifica task</a>
            <a class="button6" style="background-color:#24ebae"
               href="/Tasks/AddUserToTask/@ViewBag.Task.id_tsk">Asigneaza utilizator</a>
            <form method="post" action="/Tasks/Delete/@ViewBag.Task.id_tsk" style=" display : inline-block ;  ;">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="button6" type="submit">
                    Sterge
                    task
                </button>
            </form>
        </div>
        
    </div>
</div>
<hr />

@foreach (var comm in ViewBag.Task.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span><strong>Comentariu lasat de : </strong> <span class="badge badge-primary" style="background-color:#CAD3C8; color: black">@comm.User.UserName</span>  </span>
                <div>
                    <p>@comm.Content</p>
                </div>
                @if (User.IsInRole("Admin") || comm.UserId == ViewBag.CurrentUser || ViewBag.IsOrganizator)
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="button6" style="background-color:#24ebae; color: black;" href="/Comments/Edit/@comm.id_com">🖊️</a>
                    </div>
                    <div style="display: inline-block; float : left">
                        <form method="post" action="/Comments/Delete/@comm.id_com">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="button6" type="submit">🗑️</button>
                        </form>
                    </div>
                }
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <hr />
}

@if (!ViewBag.IsCompleted)
{
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel">
                    <form method="post" action="/Comments/New">
                        <div class="panel-body">
                            <input type="hidden" name="id_tsk"
                                   value="@ViewBag.Task.id_tsk" />
                            <label>Introduceti un comentariu daca doriti</label>
                            <br />
                            <textarea class="form-control" name="Content"></textarea>
                            <br />
                            <button class="button6 " style="background-color:#24ebae ; border:none;"  type="submit">
                                Adauga
                                comentariu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}