@model TaskManager.Models.Comment
<br />
<h1>Editare comentariu</h1>
<br />


<form method="post" action="/Comments/Edit/@Model.id_com">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.id_com)
    <strong>@Html.Label("Content", "Continut comentariu")</strong>
    <br />
    @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Content, "Orice comentariu trebuie sa aiba continut", new { @class = "text-danger " })

    <br />

    <button class="button6" style="background-color:#24ebae; border:none" type="submit"> Editeaza comentariu</button>
</form>