@model TaskManager.Models.Project

<h3>@ViewBag.Message</h3>

@using (Html.BeginForm(actionName: "New", controllerName: "Projects"))
{
    @Html.HiddenFor(model => model.id_pr)

    @Html.Label("Title", "Titlu Proiect")
    <br />
    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Title, "", new
    {
        @class = "text-danger "
    })
    <br />
    <br />

    @Html.Label("Description", "Descriere proiect")
    <br />
    @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    <br />

    @Html.Label("Date_St", "Data de inceput")
    <br />
    @Html.EditorFor(m => m.Date_St, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Date_St, "", new
    {
        @class = "text-danger "
    })
    <br />
    <br />

    @Html.Label("Date_End", "Data de final")
    <br />
    @Html.EditorFor(m => m.Date_End, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Date_End, "", new
   {
       @class = "text-danger "
   })
    <br />
    @Html.DropDownListFor(m => m.id_team, new SelectList(Model.Teams, "Value", "Text"),
     "Selectati echipa", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.id_team, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-success" type="submit">Adauga proiect</button>
}