@model TaskManager.Models.ApplicationUser
@{
    /**/

    ViewBag.Title = "Editare rol utilizator";
}

<nav aria-label="breadcrump">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><h2>@ViewBag.Title</h2></li>
    </ol>
</nav>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <br />

   
    <strong>@Html.Label("UserName", "Nume utilizator")</strong>
    

    <br />

    @Html.EditorFor(m => m.UserName)

    <br />
    <br />

    <i class="glyphicon glyphicon-envelope"></i>
    <strong>@Html.Label("Email", "Email utilizator")</strong>

    <br />

    @Html.EditorFor(m => m.Email)

    <br />
    <br />

    <strong>@Html.Label("PhoneNumber", "Numar telefon")</strong>

    <br />

    @Html.EditorFor(m => m.PhoneNumber)

    <br />
    <br />

    
    <strong><label>Selectati rolul</label></strong>
    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" })

    <br />

    <button class="button6" style="background-color: #24ebae;" type="submit">Modifica datele utilizatorului</button>


}