@model TaskManager.Models.ApplicationUser

@{
    ViewBag.Title = "Detalii utilizator";
}

<nav aria-label="breadcrump">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><h2>@ViewBag.Title</h2></li>
    </ol>
</nav>

<div class="panel-heading"><strong>Nume utilizator: </strong>@Model.UserName</div>

<div class="panel-body">

    <strong>Email utilizator: </strong><span class="label label-default">@Model.Email</span>
    <br />
    <strong>Rol utilizator: </strong>@ViewBag.roleName

    <br /><br />

    @if (@Model.PhoneNumber != null)
    {
        <strong>Telefon utilizator:</strong><span class="label label-default">@Model.PhoneNumber</span>
    }

</div>

@if ((string)Model.Id != ViewBag.utilizatorCurent)
{
    <div class="panel-footer">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", routeValues: new { id = @Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <br />
            <button class="button6" type="submit">Sterge utilizator</button>

        }
    </div>
}
